
<div class="container">
<form id="formCerrarSesion" asp-controller="Empleados" asp-action="Index">
     <button type="submit" class="btn btn-primary mb-2">Volver</button>
</form>
<h1>Historial</h1>

   @*       @foreach (var regist in Model){
        <tr>
            <td>Hora Entrada @regist.Hora_Entrada</td>
            <td>Fecha Entrada @regist.Fecha_Entrada</td>
            <td>Hola Salida @regist.Hora_Salida</td>
            <td>Fecha Salida @regist.Fecha_Salida</td>
        </tr>
        }
 *@
<table class="table">
  <thead>
    <tr>
      <th scope="col">Hora Entrada</th>
      <th scope="col">Fecha Entrada</th>
      <th scope="col">Hora Salida</th>
      <th scope="col">Fecha Salida</th>
    </tr>
  </thead>
   @foreach (var regist in Model){
         <tbody>
        <tr>
          <th scope="row">@regist.Hora_Entrada</th>
          <td>@regist.Fecha_Entrada</td>
          <td>@regist.Hora_Salida</td>
          <td>@regist.Fecha_Salida</td>
        </tr>
      </tbody>
        }
</table>
              @*   <form id="formCerrarSesion" asp-controller="Auth" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-primary mt-5">Cerrar Sesión</button>
                </form> *@

</div>